{% include 'ConferenceRooms.html' %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
          <strong> {{ message }} </strong>
      </div>
    {% endfor %}
 {% endif %}

<br><br>
<div class="container">
    <h2>Rooms available for booking:</h2> <br><br>

    {% for room in rooms %}
        <p><a href="/room/{{ room.id }}" style="text-decoration:none;"><strong>{{ room.name }}</strong></a></p>
            <ul>
                <li>Capacity: {{ room.capacity }}</li>
                {% if room.projector == True %}
                    <li>Projector: yes</li>
                {% else %}
                    <li>Projector: no</li>
                {% endif %}
            </ul>
    <button class="btn btn-outline-success"><a href="/room/book/{{ room.id }}" style="text-decoration:none;">Book</a></button>
    <button class="btn btn-outline-success"><a href="/room/modify/{{ room.id }}" style="text-decoration:none;">Edit</a></button>
    <button class="btn btn-outline-success"><a href="/room/delete/{{ room.id }}" style="text-decoration:none;">Delete</a></button>
    <br><br>
    {% endfor %}

</div>
</body>
<footer id="footer">
    Created & managed by D.G.Pasek
</footer>
</html>